* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto Condensed', sans-serif;
  color: #f2f2f2;
}

body {
  background: #0d0d0d;
  overflow-x: hidden;
}

body footer {
  width: 100vw;
  height: 2vh;
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body p.about {
  font-size: 2rem !important;
}

body::-webkit-scrollbar {
  width: .5rem;
}

body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: .25rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: #f2f2f2;
}

body::-webkit-scrollbar-track {
  background: #171717;
}

a {
  text-decoration: none;
}

a.button {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-width: 50vw;
  max-width: 80vw;
  height: 4rem;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid;
  margin: 2rem auto;
}

.bg-white {
  background: #f2f2f2 !important;
}

.bg-dark {
  background: #0d0d0d !important;
}

.bg-gray {
  background: #171717 !important;
}

.gap-dark2gray {
  background: -webkit-gradient(linear, left top, left bottom, from(#171717), to(#0d0d0d)) !important;
  background: linear-gradient(#171717, #0d0d0d) !important;
}

.gap-light-tris-botright {
  border-left: 100vw solid transparent;
  border-bottom: 25vh solid #f2f2f2;
}

.gap-light-tris-botleft {
  border-right: 100vw solid transparent;
  border-bottom: 25vh solid #f2f2f2;
}

.gap-light-tris-topright {
  border-left: 100vw solid transparent;
  border-top: 25vh solid #f2f2f2;
}

.gap-light-tris-topleft {
  border-right: 100vw solid transparent;
  border-top: 25vh solid #f2f2f2;
}

.gap-gray-tris-botright {
  border-left: 100vw solid transparent;
  border-bottom: 25vh solid #171717;
}

.gap-gray-tris-botleft {
  border-right: 100vw solid transparent;
  border-bottom: 25vh solid #171717;
}

.gap-gray-tris-topright {
  border-left: 100vw solid transparent;
  border-top: 25vh solid #171717;
}

.gap-gray-tris-topleft {
  border-right: 100vw solid transparent;
  border-top: 25vh solid #171717;
}

.gap-dark-tris-botright {
  border-left: 100vw solid transparent;
  border-bottom: 25vh solid #0d0d0d;
}

.gap-dark-tris-botleft {
  border-right: 100vw solid transparent;
  border-bottom: 25vh solid #0d0d0d;
}

.gap-dark-tris-topright {
  border-left: 100vw solid transparent;
  border-top: 25vh solid #0d0d0d;
}

.gap-dark-tris-topleft {
  border-right: 100vw solid transparent;
  border-top: 25vh solid #0d0d0d;
}

.gap-dark-tris-bottom {
  border-right: 50vw solid transparent;
  border-left: 50vw solid transparent;
  border-bottom: 10vh solid #0d0d0d;
}

.gap-dark-tris-top {
  border-right: 50vw solid transparent;
  border-left: 50vw solid transparent;
  border-top: 10vh solid #0d0d0d;
}

div.gap {
  height: 25vh;
}

div.gap-10 {
  height: 10vh;
}

section#modal {
  width: 100vw;
  height: 100vh;
  background: rgba(13, 13, 13, 0.9);
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 100;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

section#modal div.modal_image {
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

section#modal div.modal_image img {
  height: 95vh;
  -o-object-fit: contain;
     object-fit: contain;
}

section#modal div.modal_image button.close {
  background: none;
  border: none;
  color: #f2f2f2;
  position: absolute;
  top: 5vh;
  right: 5vw;
  cursor: pointer;
}

section#modal div.modal_image button.close img {
  width: 3rem;
  height: 3rem;
  -webkit-filter: invert(1) brightness(2);
          filter: invert(1) brightness(2);
}

section#headers {
  width: 100vw;
  height: 100vh;
  background: #171717;
}

section#headers div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#headers div.logo img.logo__icon {
  height: 25%;
  -o-object-fit: contain;
     object-fit: contain;
}

section#headers div.logo img.logo__text {
  height: 17.5%;
  -o-object-fit: contain;
     object-fit: contain;
}

section#headers div.logo div.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#headers div.logo div.text span.text__about {
  font-size: 2rem;
  font-weight: bold;
}

section#headers div.logo div.text span.text__quote {
  font-style: italic;
  margin: 1rem auto;
  color: #c2c2c2;
}

section#headers div.logo div.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  position: absolute;
  bottom: 5%;
}

section#headers div.logo div.social a.social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  color: #c2c2c2;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

section#headers div.logo div.social a.social__items i.fab {
  font-size: 1.5rem;
  color: #c2c2c2;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

section#headers div.logo div.social a.social__items:hover {
  color: #f2f2f2;
}

section#headers div.logo div.social a.social__items:hover i.fab {
  color: #f2f2f2;
}

section#about {
  width: 100vw;
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5rem;
  padding-bottom: 1rem;
  background: #0d0d0d;
  overflow: hidden;
}

section#about img.about__icon {
  height: 10vh;
  -o-object-fit: contain;
     object-fit: contain;
}

section#about div.about__me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 15vh auto;
}

section#about div.about__me p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 50vw;
  font-size: 2rem;
  text-align: center;
}

section#about div.about__me p span {
  font-weight: bold;
}

section#about div.about__me p span.hello {
  font-weight: normal;
  font-size: 2.25rem;
}

section#about div.about__org {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  bottom: 0;
}

section#about div.about__org span.org__head {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
}

section#about div.about__org ul.org__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5rem;
  max-width: 75vw;
  margin: 4rem auto 1rem auto;
}

section#about div.about__org ul.org__list li.org__items {
  text-align: center;
  min-width: 25vw;
  max-width: 25vw;
}

section#about div.about__org ul.org__list li.org__items span.org__name {
  font-size: 1.5rem;
  font-weight: bold;
}

section#about div.about__org ul.org__list li.org__items p.org__desc {
  margin: 1rem auto;
}

section#about div.about__org ul.org__list li.org__items div.org__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#about div.about__org ul.org__list li.org__items div.org__social a.social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  color: #c2c2c2;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

section#about div.about__org ul.org__list li.org__items div.org__social a.social__items i.fab,
section#about div.about__org ul.org__list li.org__items div.org__social a.social__items i.fas {
  font-size: 1.25rem;
  color: #c2c2c2;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

section#about div.about__org ul.org__list li.org__items div.org__social a.social__items:hover {
  color: #f2f2f2;
}

section#about div.about__org ul.org__list li.org__items div.org__social a.social__items:hover i.fab,
section#about div.about__org ul.org__list li.org__items div.org__social a.social__items:hover i.fas {
  color: #f2f2f2;
}

section#services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100vw;
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #171717;
  padding: 5rem;
}

section#services img.services__icon {
  height: 10vh;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
}

section#services p.services__about {
  max-width: 75%;
  font-size: 1.75rem;
  margin: 5rem auto;
  text-align: center;
}

section#services p.services__about span {
  font-size: 1rem;
  font-weight: bold;
}

section#services div.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

section#services div.services__list div.services__items {
  width: 25vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
}

section#services div.services__list div.services__items div.img__sample {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  gap: .25rem;
}

section#services div.services__list div.services__items div.img__sample img.big {
  width: 100%;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

section#services div.services__list div.services__items div.img__sample div.img_small {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .25rem;
}

section#services div.services__list div.services__items div.img__sample div.img_small img.small {
  width: calc(100% / 3);
  height: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.25;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

section#services div.services__list div.services__items div.img__sample div.img_small img.active {
  opacity: 1;
  cursor: default;
}

section#services div.services__list div.services__items span.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem auto;
}

section#services div.services__list div.services__items span.about {
  font-size: 1.25rem;
  text-align: center;
}

section#services div.services__list div.services__items span.star {
  margin: 2rem auto;
  text-align: center;
  font-style: italic;
  font-size: 0.9rem;
}

section#gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #f2f2f2;
  padding: 5rem;
  color: #0d0d0d;
}

section#gallery img.gallery__icon {
  height: 10vh;
  -o-object-fit: contain;
     object-fit: contain;
}

section#gallery div.container {
  margin: 5rem auto 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 2rem;
}

section#gallery div.container a.gallery__items {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #171717;
}

section#gallery div.container a.gallery__items img.thumb {
  width: 20rem;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 1;
  position: absolute;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

section#gallery div.container a.gallery__items div.info {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 13, 13, 0)), to(#0d0d0d));
  background: linear-gradient(rgba(13, 13, 13, 0), #0d0d0d);
  padding: .5rem;
  position: relative;
  top: 50%;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}

section#gallery div.container a.gallery__items div.info span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

section#gallery div.container a.gallery__items div.info span.title {
  font-size: 1.5rem;
  font-weight: bold;
  -webkit-line-clamp: 1;
  margin-bottom: 1rem;
}

section#gallery div.container a.gallery__items div.info span.desc {
  margin: auto;
  -webkit-line-clamp: 3;
  display: none;
}

section#gallery div.container a.gallery__items div.info div.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#gallery div.container a.gallery__items div.info div.details span {
  color: #c2c2c2;
}

section#gallery div.container a.gallery__items:hover img.thumb {
  opacity: 0.5;
}

section#gallery div.container a.gallery__items:hover div.info {
  top: 0;
}

section#gallery div.container a.posts {
  max-width: 17.5rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background: #171717;
  border-radius: .5rem;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

section#gallery div.container a.posts img {
  width: 17.5rem;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 1px solid rgba(194, 194, 194, 0.5);
}

section#gallery div.container a.posts span {
  color: #f2f2f2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: .5rem .25rem;
}

section#gallery div.container a.posts div.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

section#gallery div.container a.posts div.top span.title {
  font-size: 1.5rem;
  font-weight: bold;
  -webkit-line-clamp: 1;
}

section#gallery div.container a.posts div.top span.description {
  display: none;
  -webkit-line-clamp: 3;
}

section#gallery div.container a.posts div.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5rem;
}

section#gallery div.container a.posts div.bottom span {
  color: #c2c2c2;
  font-size: .9rem;
}

section#gallery div.container a.posts:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

section#gallery a.seeMore {
  width: 50vw;
  color: #0d0d0d;
  border-color: #0d0d0d;
  background: #f2f2f2;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}

section#gallery a.seeMore:hover {
  color: #f2f2f2;
  background: #0d0d0d;
}

section#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100vw;
  padding: 5rem;
  background: #0d0d0d;
}

section#contact img.contact__icon {
  height: 10vh;
  -o-object-fit: contain;
     object-fit: contain;
}

section#contact p.contact__email {
  font-size: 1.5rem;
  text-align: center;
  margin: 5rem auto 2rem auto;
}

section#contact p.contact__email span {
  font-size: 2rem;
  font-weight: bold;
}

section#contact a.mail {
  width: 50vw;
  color: #f2f2f2;
  border-color: #f2f2f2;
  background: #0d0d0d;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}

section#contact a.mail:hover {
  color: #0d0d0d;
  background: #f2f2f2;
}

section#navbar {
  width: 100vw;
  height: 7.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .75rem;
}

section#navbar div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-left: 2vw;
  gap: .5rem;
}

section#navbar div.logo img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

section#navbar div.logo img.logo__text {
  height: 75%;
}

section#navbar div.category {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2vw;
}

section#navbar div.category a.category__link {
  padding: 1rem;
  border-bottom: 3px solid transparent;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

section#navbar div.category a.category__link:hover {
  border-color: #c2c2c2;
}

section#navbar div.category a.active {
  background: #f2f2f2;
  color: #0d0d0d;
  border-color: #374151;
}

section#navbar div.category a.active:hover {
  border-color: #374151;
}

section#worksGallery {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 70.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  background: #f2f2f2;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

section#worksGallery div.title {
  color: #0d0d0d;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: underline;
  padding: 2rem;
}

section#worksGallery div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 2rem;
}

section#worksGallery div.container div.loading {
  display: block;
  opacity: 1;
  position: absolute;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

section#worksGallery div.container div.loading img {
  height: 5rem;
  -o-object-fit: contain;
     object-fit: contain;
}

section#worksGallery div.container .hide {
  opacity: 0 !important;
}

section#worksGallery div.container div.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 1rem;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

section#worksGallery div.container div.content a.posts {
  max-width: 20rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background: #171717;
  border-radius: .5rem;
  opacity: 1;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

section#worksGallery div.container div.content a.posts img {
  width: 20rem;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 1px solid rgba(194, 194, 194, 0.5);
}

section#worksGallery div.container div.content a.posts span {
  color: #f2f2f2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: .5rem .25rem;
}

section#worksGallery div.container div.content a.posts div.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

section#worksGallery div.container div.content a.posts div.top span.title {
  font-size: 1.5rem;
  font-weight: bold;
  -webkit-line-clamp: 1;
}

section#worksGallery div.container div.content a.posts div.top span.description {
  -webkit-line-clamp: 3;
}

section#worksGallery div.container div.content a.posts div.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5rem;
}

section#worksGallery div.container div.content a.posts div.bottom span {
  color: #c2c2c2;
  font-size: .9rem;
}

section#worksGallery div.container div.content a.posts:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

section#worksGallery div.container div.no_content {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  font-size: 2rem;
  color: #0d0d0d;
  opacity: 1;
  font-weight: bold;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

section#worksGallery div.container div.no_content img {
  width: 5rem;
  -webkit-filter: invert(1);
          filter: invert(1);
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

section#worksGallery div.container div.pagination {
  display: none;
  gap: .25rem;
  margin-top: 2rem;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

section#worksGallery div.container div.pagination span {
  color: #0d0d0d;
  font-size: 1.5rem;
  cursor: pointer;
  padding: .5rem;
  border-radius: .5rem;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

section#worksGallery div.container div.pagination span:hover {
  background: #c2c2c2;
}

section#worksGallery div.container div.pagination span.active {
  color: #f2f2f2;
  font-weight: bold;
  cursor: default;
  background: #0d0d0d;
}

section#notFound {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #171717;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#notFound span.top {
  font-size: 5rem;
  font-weight: bold;
  color: #dc2727;
}

section#notFound span.bot {
  font-size: 4rem;
  font-weight: bold;
  margin: -1rem auto 0 auto;
}

section#notFound span.details {
  font-size: 1.5rem;
}

section#notFound a {
  margin: 1rem auto;
}

section#notFound img {
  width: 25vw;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  opacity: .25;
}
/*# sourceMappingURL=mbaharip-v2.css.map */